/* background color*/

body{
	font-family: 'open sasns', sans-serif;
	margin: 0;
}

html {
   background: url(photo/wood2.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.header-og{
	text-align: center;
}

.main-heading{
	  color:#9fc5e8;
	  font-size: 70px;
}




.section-all{
	display: flex;
	margin: 250px;
	margin-top:10px;
	margin-bottom: 30px;
	width: 930px;
	border: 4px solid;
	border-color:#095778 ;

}

.images{
	width: 800px;
}

.div1{
	margin-left: 20px;
}

.main-name{ 
	padding-left:3px;
	color:#b6d7a8 ;
	font-size: 30 px;
}

.ul-ilist{
	padding-left: 15px;
	color:#b6d7a8 ;
}

.li-list{
	margin-bottom: 10px;
}
.anker{
	color:#b6d7a8 ;
	font-size: 20 px;
}

.footer1{
      background-color:#2d70b7;
      padding: 1px;
      text-align: center;
}

.created-by{
		color:#ffcd37 ;
	font-size: 20 px;
}