/* background color*/

body{
	background-image: photo/wood.jpg;
	font-family: 'open sasns', sans-serif;
	margin: 0;
}

html {
   background: url(photo/wood.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.header-og{
	text-align: center;
}

.main-heading{
	  color: #aeaeae;
	  font-size: 70px;
}


.section-all{
	display: flex;
	margin: 50px auto;
	width: 450px;
}

.images{
	width: 200px;
}

.div1{
	margin-left: 20px;
}

.main-name{ 
	color:#aeaeae ;
	font-size: 30 px;
}

.ul-ilist{
	padding-left: 10px;
}

.li-list{
	margin-bottom: 10px;
}
.anker{
	color:#aeaeae ;
	font-size: 20 px;
}

.footer1{
      background-color:#444444;
      padding: 1px;
      text-align: center;
}

.created-by{
		color:#aeaeae ;
	font-size: 20 px;
}